langchain==0.1.16
langchain-core==0.1.53
langchain-community==0.0.36
langchain-text-splitters==0.0.1

langchain-groq



torch==2.1.2
transformers==4.37.2
sentence-transformers==2.2.2

faiss-cpu
pypdf
huggingface-hub
groq
python-dotenv
reportlab
rank-bm25
